*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    background-image: url(images/background.png); /* Bron:  https://www.wallpaperflare.com/macos-mojave-night-sand-mountain-computers-apple-desert-sky-wallpaper-poals*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: white;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    padding: 10px;
}

h1 {
    font-size: 2em;
    padding: 10px;
    font-weight: bolder;
}

.button {
    text-decoration: none;
    display: block;
    background-color: white;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 150px;
    margin-top: 5px;
    opacity: 0.7;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    body { background-image: url(images/mobiletest.png);
            background-size: 100%;
        }
}

@media only screen and (max-width: 600px) {
    body { background-image: url(images/mobilekleiner.png);
            background-size: 100%;
    }
}
/* Body styling */



/* Header styling */
header{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

header ul a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
}

header img {
    width: 250px;
}

header section {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

header section h2 {
    font-size: 2.5em;
    color: red;
}
/* Header styling */



/* Main styling */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    background-color: grey;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    background-color: grey;
    cursor: pointer;
    width: 600px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

textarea {
    height: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

main section h2 {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

main section {
    background-color: gray;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
}

main a {
    text-decoration: none;
    color: black;
}

section h4 {
    color: white;
    font-size: 2em;
}

article h2 {
    font-size: 1.5em;
    color: black;
    font-weight: 600;
    padding: 10px;
}

form button {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.7;
}

form label {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

form input {
    height: 50px;
    text-align: center;
    border-radius: 30px;
    border: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

article section {
    display: flex;
    flex-wrap: wrap;
}

article section img {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

article section div {
    width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

article section div h3 {
    font-weight: normal;
    padding: 2px;
    margin-top: 5px;
}

main .links section {
    height: 300px;
}

article section div h3:nth-of-type(1) {
    font-weight: bold;
    font-size: x-large;
    padding: 2px;
}

article p:nth-of-type(2) {
    font-weight: bold;
}

main .button {
    float: right;
    width: 175px;
    margin: 10px;
    opacity: 0.7;
}

.bron {
    font-size: 1em;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.links {
    width: 500px;
}

.rechts {
    width: 300px;
}

.afbeeldingheader {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0px 0px;
}

.links a:nth-of-type(1) section {
    background-image: url(images/iphone12hover.png); /* Bron: https://www.icreatemagazine.nl/nieuws/iphone-12-reviews/ */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.links a:nth-of-type(2) section {
    background-image: url(images/ipad4hover.png); /* Bron: https://www.techradar.com/reviews/ipad-air-4-review */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.links a:nth-of-type(3) section {
    background-image: url(images/ios14hover.png); /* Bron: https://www.techradar.com/reviews/ipad-air-4-review */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.rechts section:nth-child(2) h3 {
    background-color:white;
    border-radius: 30px;
    text-align: center;
    width: 80%;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.rechts section:nth-of-type(2) h2, .rechts section:nth-of-type(1) h2 {
    top: 0;
    position: static;
}

.rechts section img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    opacity: 0.7;
}

.rechts section p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 914px) {
    .rechts { width: 500px;}
}

@media only screen and (max-width: 520px) {
    header ul { flex-direction: column;}
}

@media only screen and (max-width: 638px) {
    footer ul { flex-direction: column;}
}
/* Main styling */



/* Footer styling */
footer {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

footer div img {
    width: 30px;
}

footer div {
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
/* Footer styling */



/* Hover styling */
footer a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

form button:hover {
    opacity: 1;
    transition: 0.3s; 
}

header ul a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

footer div img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.button:hover {
    opacity: 1;
    transition: 0.3s;
}

.rechts section h3:hover {
    opacity: 1;
    transition: 0.3s;
}

.links section:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.rechts section img:hover {
    opacity: 1;
    transition: 0.3s;
}
/* Hover styling */





